main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
    margin-bottom: 6vh;
}

.hero-title {
    font-family: Cabin;
    font-size: 50px;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    margin: 0;
}

.hero-title-highlight {
    color: var(--primary-yellow);
}

.hero-subtitle {
    font-family: Public Sans;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    max-width: 60%;
    margin: 0;
    margin-top: 15px; 
}

.resource-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 8vh;
}