:root {
    --primary-yellow: #FFBD00;
    --secondary-yellow: #FFE59A;
    --black: #1B1400;
    --white: #FEFEFE;
    --background-gray: #F9F9F9;
    --border-gray: #DDDDDD;
    --text-gray: #888888;
}